/* ################
  INDEX PAGE
################  */
#welcome-section{
    height: 100vh;
    width: 100%;
    /* placeholder image */
    background-image: url("../images/placeholder.png");
    background-size: cover;
    background-position: center;
}





/* ################
  ABOUT PAGE
################  */
.text{
  margin:   25px 50px 75px;
  color: rgb(211, 211, 211);
  font-size: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;

}

footer li {
  display: inline;
  padding: 0 50px 0 0;
}

.footer li a {
  text-decoration: none;
}



/* ################
  CONTACT PAGE
################  */
